{% extends "MaitreOeuvreBundle::layout.html.twig" %}

{% block contents %}
    {{ parent()}}
    {% block body %}
        {{ parent()}}
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}


        <div class="form-group">
            {{ form_label(form.username, "Nom d'\utilisateur", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.username) }}
            <div class="col-sm-6">
                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.telPort, "Téléphone portable", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.telPort) }}
            <div class="col-sm-6">
                {{ form_widget(form.telPort, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.ville, "Ville", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.ville) }}
            <div class="col-sm-6">
                {{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>


        <div class="form-group">
            {{ form_label(form.rue, "Rue", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.rue) }}
            <div class="col-sm-6">
                {{ form_widget(form.rue, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.cp, "Code postal", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.cp) }}
            <div class="col-sm-6">
                {{ form_widget(form.cp, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.specialite, "Spécialité", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.cp) }}
            <div class="col-sm-6">
                {{ form_widget(form.specialite, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        
        <div class="form-group">
            {{ form_label(form.certification, "Certification", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.certification) }}
            <div class="col-sm-6">
                {{ form_widget(form.certification, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.email, "E-mail", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.email) }}
            <div class="col-sm-6">
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.site, "Site web", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.site) }}
            <div class="col-sm-6">
                {{ form_widget(form.site, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.numPolice, "Numéro de police", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.numPolice) }}
            <div class="col-sm-6">
                {{ form_widget(form.numPolice, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.numAssureur, "Numéro d'assureur", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.numAssureur) }}
            <div class="col-sm-6">
                {{ form_widget(form.numAssureur, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.avis, "Avis", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.avis) }}
            <div class="col-sm-6">
                {{ form_widget(form.avis, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.dateCrea, "Date de création", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.dateCrea) }}
            <div class="col-sm-6">
                {{ form_widget(form.dateCrea, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>






        {{ form_rest(form) }}
        {{form_end(form)}}

        {# Fermeture de la balise <form> du formulaire HTML #}

    {% endblock %}

{% endblock %}

{% block javascript %}

    <script>
        $(document).ready(function() {
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
    </script>

{% endblock %}
